<div class="container">
	<div class="goods hover">
		<span class="title">全部商品分类</span>
		<ul class="list-group">
			<li class="list-item">
				<span class="desc">西非材</span>
				<div class="list-cont">
					<div class="list-cont-box">
						<ul>
							<li>
								<a href="">红橡</a>
							</li>
							<li>
								<a href="">白橡</a>
							</li>
							<li>
								<a href="">加松</a>
							</li>
							<li>
								<a href="">SPF</a>
							</li>

							<li>
								<a href="">花旗松</a>
							</li>

							<li>
								<a href="">辐射松</a>
							</li>

							<li>
								<a href="">苏木</a>
							</li>

							<li>
								<a href="">樱桃木</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="list-item">
				<span class="desc">东非材</span>
				<div class="list-cont">
					<div class="list-cont-box">
						<ul>
							<li>
								<a href="">红橡</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="list-item">
				<span class="desc">北美材</span>
				<div class="list-cont">
					<div class="list-cont-box">
						<ul>
							<li>
								<a href="">红橡</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="list-item">
				<span class="desc">巴新材及所罗门材</span>
				<div class="list-cont">
					<div class="list-cont-box">
						<ul>
							<li>
								<a href="">红橡</a>
							</li>
							<li>
								<a href="">白橡</a>
							</li>
							<li>
								<a href="">加松</a>
							</li>
							<li>
								<a href="">SPF</a>
							</li>

							<li>
								<a href="">花旗松</a>
							</li>

							<li>
								<a href="">辐射松</a>
							</li>

							<li>
								<a href="">苏木</a>
							</li>

							<li>
								<a href="">樱桃木</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="nav-group">
		<a class="active" href="">首页</a>
		<a href="page-16-商城列表.html">芬木商城</a>
		<a href="">求购专区</a>
		<a href="">芬木金融</a>
		<!--<a href="">芬木物流</a>-->
		<a href="">芬木数据</a>
		<a href="page-31-商户版小程序.html" target="_blank">商家独立小程序<i></i></a>
		<a href="" target="_blank">关于我们</a>
	</div>
</div>