<ul>
	<li>
		<i class="icon-dh"></i>
		<div class="fixed-tip">
			<span class="contact-tel">021-12345678</span>
		</div>
	</li>
	<li>
		<i class="icon-kf"></i>
		<div class="fixed-tip">
			<a class="contact-qq" href="javascript:void(0)">在线咨询</a>
		</div>
	</li>
	<li>
		<i class="icon-xcx"></i>
		<div class="fixed-tip ewm-box">
			<span>芬木小程序</span>
			<img src="../img/home/ewm-xcx.png"/>
			<span>扫一扫</span>
		</div>
	</li>
	<li>
		<i class="icon-sm"></i>
		<div class="fixed-tip ewm-box">
			<span>芬木微信公众号</span>
			<img src="../img/home/ewm-fw.png"/>
			<span>扫一扫</span>
		</div>
	</li>
</ul>