<dl class="aside-nav-module">
	<dt><span class="icon-account"></span>账户管理</dt>
	<dd>
		<a href="#" class="on">账户信息</a>
		<a href="#">账户安全</a>
		<a href="#">个人认证</a>
		<a href="#">企业认证</a>
		<a href="#">资金账户</a>
	</dd>
</dl>
<dl class="aside-nav-module">
	<dt><span class="icon-buyer"></span>我是买家</dt>
	<dd>
		<a href="#">我的订单</a>
		<a href="#">我的购物车</a>
		<a href="#">我的求购</a>
		<a href="#">我的收藏夹</a>
		<a href="#">我的地址</a>
	</dd>
</dl>
<dl class="aside-nav-module">
	<dt><span class="icon-seller"></span>我是卖家</dt>
	<dd>
		<a href="#">收款账户</a>
		<a href="#">订单管理</a>
		<a href="#">订单详情</a>
		<a href="#">代客下单</a>
		<a href="#">商品管理</a>
		<a href="#">发布商品</a>
		<a href="#">我的报价</a>
		<a href="#">统计报表</a>
		<a href="#">店铺管理</a>
		<!--<a href="#">提现管理</a>-->
	</dd>
</dl>
<dl class="aside-nav-module">
	<dt><span class="icon-service"></span>产业服务</dt>
	<dd>
		<a href="#">我的融资申请 </a>
		<a href="#">我的物流委托</a>
	</dd>
</dl>