.order-payratio {
    * {
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }
    .container {
        background-color: #fff;
        padding: 50px 46px 40px 46px;
        box-sizing: border-box;
    }
    .title {
        color: #666;
        font-size: 16px;
        margin-left: 28px;
        margin-bottom: 14px;
    }
    ul {
        padding: 30px 28px 20px 30px;
        border: 1px solid #eee;
        @extend .clearfix;
        li {
            float: left;
            display: block;
            width: 390px;
            font-size: 14px;
            label {
                span {
                    display: inline-block;
                    margin-left: 14px;
                    width: 282px;
                    height: 36px;
                    line-height: 36px;
                    text-align: center;
                    font-size: 14px;
                    color: #666;
                    border: 1px solid #eee;
                    border-radius: $dev-btn-border-radius;
                }
                input[type="radio"] {
                    &:checked {
                        &+i {
                            &+span {
                                color: #fff;
                                background-color: #f9aa32;
                            }
                        }
                    }
                }
            }
            .desc {
                margin-top: 10px;
                margin-left: 32px;
                color: #999;
                font-size: 14px;
                span {
                    color: #e52217;
                }
            }
        }
    }
}