.cart-list {
    margin-bottom: 64px;
    .container {
        background-color: #fff;
        .th-warp {
            height: 50px;
            line-height: 50px;
            color: #555;
            font-size: 14px;
            background-color: #eee;
            text-align: center;
            padding: 0 46px;
            box-sizing: border-box;
            overflow: hidden;
            li {
                float: left;
                text-align: left;
                label {
                    font-size: 14px;
                }
            }
            .m1 {
                width: 114px;
                padding-left: 10px;
            }
            .m2 {
                width: 230px;
            }
            .m3 {
                width: 132px;
            }
            .m4 {
                width: 132px;
            }
            .m5 {
                width: 90px;
            }
            .m6 {
                width: 120px;
            }
            .m7 {
                width: 160px;
                padding-left: 10px;
            }
            .m8 {}
        }
        .td-warp {
            padding: 28px 46px 45px 46px;
            box-sizing: border-box;
            ul {
                padding: 28px 32px;
                border: 1px solid #eee;
                li {
                    padding: 6px 0 6px 0px;
                    height: 108px;
                    font-size: 14px;
                    color: #333;
                    border-bottom: 1px solid #eee;
                    box-sizing: border-box;
                    position: relative;
                    &:last-child {
                        border-bottom-style: none;
                    }
                    .m1,
                    .m2,
                    .m3,
                    .m4,
                    .m5,
                    .m6,
                    .m7,
                    .m8 {
                        float: left;
                    }
                    .m1 {
//                      margin-right: 20px;
//                      margin-left: -24px;
                        vertical-align: middle;  
                        position: absolute;
                        left: -24px;
                        top: 6px;
                                       
                    }
                    .m2 {
                        position: relative;
                        width: 271px;
                        height: 96px;
                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 95px;
                            height: 95px;
                        }
                        .cont {
                            margin-left: 120px;
                            p {
                                margin-top: 10px;
                            }
                        }
                    }
                    .m3 {
                        margin-top: 26px;
                        width: 166px;
                    }
                    .m4 {
                        margin-top: 26px;
                        font-size: 16px;
                        width: 116px;
                        color: #e52217;
                    }
                    .m5 {
                        margin-top: 26px;
                        width: 112px;
                        padding-right: 10px;
                    }
                    .m6 {
                        margin-top: 26px;
                        width: 123px;
                        padding-right: 10px;
                    }
                    .m7 {
                        margin-top: 21px;
                        width: 130px;
                    }
                    .m8 {
                        margin-top: 18px;
                        a {
                            display: block;
                            width: 88px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            color: $dev-color-active;
                            border: 1px solid $dev-color-active;
                            border-radius: $dev-btn-border-radius;
                        }
                    }
                }
                .goods-clear{
                    color: #999;
                    background-color: #f8f8f8;
                    .m1{
                        input:disabled+i{
                            background: none;
                        }
                    }
                    .m2:before{
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 2;
                        width: 95px;
                        height: 95px;
                        background: rgba(0,0,0,.4) url(../../img/cart/empty.png) no-repeat center;
                        background-size: 60px;
                    }
                    .m8{
                        >a{
                            color: #999;
                            border-color: #ccc;
                        }
                    }
                }
            }
            .result {
                float: right;
                margin-top: 24px;
                height: 32px;
                line-height: 32px;
                font-size: 14px;
                color: #666;
                a,
                p {
                    float: left;
                    span {
                        font-size: 16px;
                        color: #e52217;
                    }
                }
                a {
                    display: block;
                    margin-left: 18px;
                    margin-right: 34px;
                    width: 100px;
                    height: 32px;
                    line-height: 32px;
                    text-align: center;
                    color: #fff;
                    background-color: #e52217;
                    border-radius: $dev-btn-border-radius;
                }
                .disabled{
                    background-color: #ddd;
                    cursor: not-allowed;
                }
            }
        }
    }
}