.accmanage-orderdetail-logistics {
    padding-left:10px ;
    .logisticsDetails {
        span {
            display: inline-block;
            width: 24%;
            font-size: 14px;
            color: #333;
            line-height: 24px;
            margin-bottom: 10px;
            small {
                color: #666;
            }
        }
    }
    h3 {
        font-size: 16px;
        color: #333;
        font-weight: normal;
        padding: 40px 0 10px 0;
        margin-bottom:10px ;
        border-bottom:1px solid #eee ;
    }
    p {
        color: #333;
        font-size: 14px;
        line-height: 2;
        small {
            color: #666;
            padding-left:75px;
        }
    }
}
