.accmanage-recharge{
    padding: 18px 30px 70px;
    .pay-tab{
        margin-top: 30px;
        width: 900px;
    }
    .pay-tab-hd{
        width: 100%;
        height: 41px;
        border-bottom: 1px solid #eee;
    }
    .pay-tab-hd>span{
        padding-left: 15px;
        padding-right: 15px;
        height: 40px;
        height: 40px;
        float: left;
        line-height: 40px;
        font-size: 16px;
        color: #333;
        cursor: pointer;
    }
    .pay-tab-hd>span.on,
    .pay-tab-hd>span:hover{
        color: $dev-color-txt;
        border-bottom: 2px solid $dev-color-txt;
    }
    .pay-tab-bd{
        display: none;
    }
    .pay-tab-bd.on{
        display: block;
    }
    .bank-list{
        @extend .clearfix;
        padding-top: 20px;
    }
    .bank-list>span{
        float: left;
        width: 154px;
        height: 33px;
        background-image: url(../../img/order/banks.png);
        background-repeat: no-repeat;
        margin-right: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        position: relative;
        &.on:before{
            content: "";
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            background-image: url(../../img/order/banks.png);
            background-repeat: no-repeat;
            background-position: -310px -204px;
        }
    }
    .beijing{background-position: 0 0;}
    .guangfa{background-position: 0 -34px;}
    .jiaotong{background-position: 0 -68px;}
    .nongye{background-position: 0 -102px;}
    .shanghainongshang{background-position: 0 -136px;}
    .xingye{background-position: 0 -170px;}
    .zhongguo{background-position: 0 -204px;}
    .gongshang{background-position: -155px 0;}
    //.huaxia{background-position: -155px -34px;}
    .minsheng{background-position: -155px -68px}
    .pingan{background-position: -155px -102px;}
    .pufa{background-position: -155px -136px;}
    .youchu{background-position: -155px -170px;}
    .zhongxin{background-position: -155px -204px;}
    .guangda{background-position: -310px 0;}
    .jianshe{background-position: -310px -34px;}
    //.bjncsy{background-position:-310px -68px;}
    .shanghai{background-position: -310px -102px;}
    .shenzhenfazhan{background-position: -310px -136px;}
    .zhaoshang{background-position: -310px -170px;}
    
    .recharge-hd{
        font-size: 16px;
        color: #333;
        line-height: 2;
        margin-bottom: 10px;
    }
    .recharge-input{
        position: relative;
        input{
            width: 240px;
            height: 40px;
            border: 1px solid #eee;
            padding: 7px 6px;
            line-height: 24px;
            font-size: 14px;
            color: #333;
        }
        .tip-gray{
            position: absolute;
            left: 250px;
            top: 0;
            font-size: 12px;
            padding-top: 7px;
            line-height: 24px;
            color: #999;
            white-space: nowrap;
        }
    }
    
    .btn-recharge{
        display: block;
        margin-top: 20px;
        width: 100px;
        height: 32px;
        line-height: 32px;
    }
}
.dialog-recharge{
    .dialog-cont{
        width: 572px;
        height: 300px;
        background-color: #fff;
        margin-left: -286px;
        margin-top: -150px;
        padding: 30px;
    }
    .close{
        right: 20px;
        top: 25px;
    }
    .dialog-hd{
        font-size: 20px;
        color:#333;
        font-weight: normal;
        line-height: 2;
        text-align: center;
    }
    .inner{
        width: 100%;
        height: 150px;
        display: table;
       .cell{
            display: table-cell;
            vertical-align: middle;
            font-size: 16px;
            color: #333;
            line-height: 1.5;
            word-break: break-all;
            text-align: center;
        }
        .tip-important{
            color: $dev-color-txt;
            margin-top: 10px;
        }
    }
    .btn-group{
        text-align: center;
        margin-top: 10px;
        >[class^='btn-']{
            display: inline-block;
            width: 164px;
            height: 36px;
            border-radius: 4px;
            font-size: 14px;
            line-height: 36px;
        }
        .btn-right{
            border: 1px solid $dev-color-active;
            color: $dev-color-active;
            margin-left: 20px;
        }
    }
}
