.accmanage-myaddr{
    padding: 18px 30px;
    position: relative;
    .accmanage-module-hd{
        display: inline-block;
        font-size: 16px;
        font-weight: normal;
        line-height: 32px;
        color: #333;
        margin-bottom: 10px;
    }
    .btn-addmyaddr{
        font-size: 14px;
        color: $dev-color-btn;
        position: absolute;
        right: 30px;
        top: 32px;
    }
    .myaddr-table{
        width: 100%;
        border: 1px solid #eee;
        th{
            background-color: #eee;
            font-size: 14px;
            color: #333;
            height: 50px;
            line-height: 50px;
            text-align: center;
        }
        td{
            padding:15px 10px;
            text-align: center;
            line-height: 24px;
            border-bottom: 1px solid #eee;
            font-size: 14px;
            &:last-child{
                width: 100px;
                white-space: nowrap;
            }
        }
        .td-addr{
            display: inline-block;
            max-width: 300px;
            line-height: 24px;
            word-break: break-all;
            font-size: 14px;
        }
        .td-inner [class^="btn-"]{
            display: inline-block;
            vertical-align: middle;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 4px;
            background-color: transparent;
            border: 0;
            fill: 14px;
            &:first-child{
                margin-left: 0;
            }
        }
        .btn-td-blue{
            color: $dev-link;
        }
        .btn-td-green{
            color: $dev-color-active;
        }
        .btn-td-orange{
            color: $dev-color-btn;
        }
    }
}
