.dialog-setaddr{
    display: none;
    .dialog-cont{
        display: block;
        width: 572px;
        height: 490px;
        margin-left: -286px;
        margin-top: -245px;
        padding: 90px;
        dl{
            margin-bottom: 20px;
            dt{
                width: 102px;
                float: left;
                height: 40px;
                line-height: 40px;
                font-size: 14px;
                color: #333;
                text-align: right;
                padding-right: 12px;
                white-space: nowrap;
                i{color: $dev-color-txt;}
            }
            dd{
                float: left;
                width: 224px;
                position: relative;
                font-size: 14px;
                input,select,textarea{
                    width: 224px;
                    font-size: 14px;
                    color: #333;
                    border: 1px solid #eee;
                }
                input{
                    height: 40px;
                    padding: 7px 10px;
                    line-height: 24px;
                }
                select{
                    height: 40px;
                }
                textarea{
                    height: 92px;
                    resize: none;
                    padding: 7px 10px;
                    line-height: 24px;
                }
                button{
                    width: 106px;
                }
                .center {
                    position: absolute;
                    left: calc(50% - 53px);
                }
            }
            &:after{
                content: "";
                display: block;
                clear: both;
            }
        }
    }
}
