@charset "UTF-8";
/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0;
}

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
  font-weight: normal;
}

html, body, fieldset, img, iframe, abbr {
  border: 0;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

[hidefocus], summary {
  outline: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
}

sup, sub {
  font-size: 83%;
}

pre, code, kbd, samp {
  font-family: inherit;
}

q:before, q:after {
  content: none;
}

textarea {
  overflow: auto;
  resize: none;
}

label, summary {
  cursor: default;
}

a, button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: bold;
}

del, ins, u, s, a, a:hover {
  text-decoration: none;
}

body, textarea, input, button, select, keygen, legend {
  font: 12px/1 "思源黑体 CN", Microsoft Yahei, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  color: #333;
  outline: 0;
}

body {
  background: #f5f5f5;
}

a, a:hover {
  color: #333;
  text-decoration: none;
}

.container-fluid {
  display: block;
  width: 100%;
  min-width: 1200px;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  min-width: 1200px;
}

input[readonly] {
  background-color: #eee;
}

button {
  border: 0;
  outline: none;
}

button:disabled {
  background-color: #ccc !important;
  cursor: not-allowed;
}

.container {
  display: block;
  margin: auto;
  width: 1200px;
}

.clearfix:before, .numbox:before, .header.main .header-search .search-hot:before, .clearfix:after, .numbox:after, .header.main .header-search .search-hot:after {
  display: table;
  content: " ";
}

.clearfix:after, .numbox:after, .header.main .header-search .search-hot:after {
  clear: both;
}

a.disabled {
  background-color: #ccc !important;
  color: #fff;
  cursor: not-allowed;
}

.ie9-filter {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.placeholder {
  position: absolute;
  left: 10px;
  top: 50%;
  z-index: 2;
  height: 20px;
  line-height: 20px;
  margin-top: -10px;
  max-width: 100%;
  color: #b2b2b2;
  font-size: inherit;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ani, .home-nav .goods .list-group .list-item.active .list-cont, .home-nav .goods .list-group .list-item:hover .list-cont {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table .table-cell {
  display: table-cell;
  vertical-align: middle;
}

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.tip-error, .tip-success {
  font-size: 20px !important;
  color: #666;
  line-height: 1.6;
  padding: 60px 20px 30px;
  margin: 0;
  text-align: center;
}

.icon-error {
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(../../img/err.png) no-repeat center !important;
  background-size: contain;
  margin-right: 10px;
}

.icon-succ {
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(../../img/login/success.png) no-repeat center !important;
  background-size: contain;
  margin-right: 10px;
}

.page_box {
  text-align: center;
  margin-top: 40px;
}

.page_box a,
.page_box span {
  display: inline-block;
  padding: 0 15px;
  margin: 0 4px;
  height: 30px;
  line-height: 30px;
  color: #999;
  font-size: 14px;
  border: 1px solid #eeeeee;
}

.page_box a.dian,
.page_box span.dian {
  border-color: #fff;
}

.page_box a.dian:hover,
.page_box span.dian:hover {
  color: #999;
  border-color: #fff;
}

.page_box a.off:hover,
.page_box span.off:hover {
  color: #999;
  border-color: #eeeeee;
}

.page_box a.to,
.page_box span.to {
  height: 32px;
  padding: 0;
  border: none;
}

.page_box a.to input,
.page_box span.to input {
  color: #999;
  font-size: 16px;
  padding: 0 5px;
  width: 40px;
  height: 30px;
  border: 1px solid #eeeeee;
}

.page_box a.go,
.page_box span.go {
  color: #fff;
  cursor: pointer;
  background-color: #3bc03b;
  border-color: #3bc03b;
}

.page_box a.go:hover,
.page_box span.go:hover {
  color: #fff;
}

.page_box a.on, .page_box a:hover,
.page_box span.on,
.page_box span:hover {
  color: #3bc03b;
  border-color: #3bc03b;
}

label {
  display: inline-block;
  cursor: pointer;
}

label input[type="checkbox"],
label input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  display: none;
}

label input[type="checkbox"] + i,
label input[type="radio"] + i {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url(../../img/mall/sprite-mall.png) no-repeat;
  background-position: 0 -128px;
  vertical-align: middle;
}

label input[type="checkbox"]:checked + i,
label input[type="radio"]:checked + i {
  background-position: 0 -116px;
}

label.c15 input[type="checkbox"] + i {
  width: 15px;
  height: 15px;
  background-position: 0px -191px;
}

label.c15 input[type="checkbox"]:checked + i {
  background-position: 0px -176px;
}

label.c15 input[type="checkbox"]:disabled + i {
  cursor: not-allowed;
}

label.c17 input[type="checkbox"] + i {
  width: 17px;
  height: 17px;
  background-position: 0px -280px;
}

label.c17 input[type="checkbox"]:checked + i {
  background-position: 0px -263px;
}

label.c17 input[type="checkbox"]:disabled + i {
  cursor: not-allowed;
}

label.radio input[type="radio"] + i {
  width: 18px;
  height: 18px;
  background-position: 0px -140px;
}

label.radio input[type="radio"]:checked + i {
  background-position: 0px -158px;
}

label.sex input[type="radio"] + i {
  width: 18px;
  height: 18px;
  background-position: 0px -206px;
}

label.sex input[type="radio"]:checked + i {
  background-position: 0px -224px;
}

.numbox {
  display: inline-block;
}

.numbox .btn-minus,
.numbox .btn-plus,
.numbox .numbox-input {
  float: left;
  width: 16px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 14px;
  color: #333;
  border: 1px solid #e5e5e5;
}

.numbox .btn-minus,
.numbox .btn-plus {
  cursor: pointer;
}

.numbox .numbox-input {
  text-align: center;
  margin: 0 -1px;
  width: 24px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: none;
}

.dialog-cont {
  display: block;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
}

.dialog-cont .font-limited {
  color: #999;
  line-height: 20px;
  font-size: 12px;
  position: absolute;
  right: 6px;
  bottom: 0px;
}

.maskbg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.close {
  position: absolute;
  right: 43px;
  top: 35px;
  width: 34px;
  height: 34px;
  background: url(../../img/close.png) no-repeat;
  background-size: cover;
  cursor: pointer;
}

.btn-green, .btn-orange {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 60px;
  height: 36px;
  line-height: 36px;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: 0;
}

.btn-green {
  background-color: #3bc03b;
}

.btn-green:hover {
  background-color: #00ab00;
  color: #fff;
}

.btn-orange {
  background-color: #f9aa32;
}

.btn-orange:hover {
  background-color: #ff9600;
  color: #fff;
}

.warn {
  white-space: nowrap;
  display: none;
  position: absolute;
  left: 10px;
  bottom: -18px;
  z-index: 9;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  color: #e52217;
  font-weight: normal;
}

.warn i {
  display: inline-block;
  margin-right: 2px;
  width: 14px;
  height: 14px;
  vertical-align: -2px;
  background: url(../../img/login/sprite-login.png) no-repeat 0 0;
}

.warn.dimed {
  display: none;
}

.font-limited {
  position: absolute;
  right: 8px;
  bottom: 2px;
  font-size: 12px;
  color: #999;
  line-height: 1.2;
}

.dialog-confirm .dialog-cont {
  width: 400px;
  height: 240px;
  padding: 40px 50px 80px !important;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.dialog-confirm .close {
  right: 20px;
  top: 20px;
}

.dialog-confirm .btn-groups {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 0;
  padding-left: 50px;
  padding-right: 50px;
}

.dialog-confirm .btn-groups > [class^="btn-"] {
  display: inline-block;
  min-width: 100px;
  height: 32px;
  margin-right: 10px;
  line-height: 32px;
}

.dialog-confirm .btn-groups > [class^="btn-"]:last-child {
  margin-right: 0;
}

.dialog-confirm .btn-groups > [class^="btn-"]:hover {
  color: #fff;
}

.dialog-confirm .icon-warn {
  width: 44px;
  height: 44px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  background: url(../../img/icon-warn.png) no-repeat;
  background-size: cover;
  margin-right: 10px;
}

.dialog-confirm .confirm-inner {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.dialog-confirm .confirm-inner .confirm-txt {
  display: table-cell;
  line-height: 1.5;
  vertical-align: middle;
}

/*--file手型--*/
input[type="file"] {
  font-size: 300px;
  opacity: 0;
}

/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="file"] {
    font-size: 0;
  }
}

/*--返回顶部--*/
.back-top {
  display: none;
  position: fixed;
  right: 0;
  bottom: 160px;
  z-index: 999;
  width: 40px;
  height: 40px;
  background-color: #949494;
  text-align: center;
  cursor: pointer;
  padding-top: 11px;
}

.back-top .icon-top {
  display: inline-block;
  width: 20px;
  height: 18px;
  background: url(../../img/home/home-icons.png) no-repeat -214px -2px;
}

.back-top:hover {
  background-color: rgba(100, 100, 100, 0.6);
}

.toast-wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 999;
  max-width: 300px;
  overflow: hidden;
  border-radius: 4px;
  padding: 10px 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.toast-wrap p {
  font-size: 14px;
  line-height: 24px;
  word-break: break-all;
}

.toast-wrap .ico-loading {
  display: block;
  width: 40px;
  height: 40px;
  margin: 10px auto;
  background: url(../../img/loading.gif) no-repeat center;
  background-size: contain;
}

/**
     * 公用
 */
.sidebar {
  position: fixed;
  z-index: 999;
  top: 50%;
  margin-top: -100px;
  right: 0;
}

.sidebar ul li {
  position: relative;
  display: block;
  margin-bottom: 4px;
  width: 40px;
  height: 40px;
  padding: 9px 9px;
  background-color: #949494;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: rgba(100, 100, 100, 0.6);
}

.sidebar ul li i {
  display: inline-block;
  width: 21px;
  height: 20px;
  background-image: url(../../img/home/home-icons.png);
  background-repeat: no-repeat;
  background-size: 120px 150px;
}

.sidebar ul li i.icon-dh {
  background-position: -27px -73px;
}

.sidebar ul li i.icon-kf {
  background-position: -27px -92px;
}

.sidebar ul li i.icon-xcx {
  background-position: -102px -103px;
  margin-left: 1px;
}

.sidebar ul li i.icon-sm {
  background-position: -27px -112px;
}

.sidebar ul li .fixed-tip {
  display: none;
  position: absolute;
  right: 40px;
  top: 0;
  width: 190px;
  height: 40px;
  text-align: center;
}

.sidebar ul li .contact-tel {
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  white-space: nowrap;
  height: 40px;
  display: inline-block;
  width: 190px;
  background-color: #3bc03b;
}

.sidebar ul li .contact-tel:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  height: 24px;
  width: 24px;
  background-image: url(../../img/home/home-icons.png);
  background-repeat: no-repeat;
  background-position: -108px -156px;
  margin-right: 10px;
}

.sidebar ul li .contact-qq {
  display: inline-block;
  width: 190px;
  height: 40px;
  line-height: 40px;
  background-color: #3bc03b;
  font-size: 16px;
  color: #fff;
}

.sidebar ul li .contact-qq:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  height: 24px;
  width: 21px;
  background-image: url(../../img/home/home-icons.png);
  background-repeat: no-repeat;
  background-position: -136px -156px;
  margin-right: 10px;
}

.sidebar ul li .ewm-box {
  width: 180px;
  height: 210px;
  padding: 14px 20px;
  border: 1px solid #eee;
  background-color: #fff;
}

.sidebar ul li .ewm-box span {
  display: block;
  font-size: 14px;
  line-height: 24px;
}

.sidebar ul li .ewm-box img {
  width: 140px;
  height: 140px;
  margin-top: 4px auto;
}

.sidebar ul li:hover > .fixed-tip {
  display: block;
}

.header.main {
  height: 198px;
}

.header.main .header-cont {
  height: 50px;
  line-height: 50px;
  background-color: #3bc03b;
  color: #f5f5f5;
  font-size: 14px;
}

.header.main .header-cont .user {
  color: #f5f5f5;
}

.header.main .header-cont .hot-line:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  width: 23px;
  height: 22px;
  background-image: url(../../img/home/home-icons.png);
  background-position: -139px -278px;
  background-repeat: no-repeat;
  margin-right: 4px;
  transform: scale(0.8);
  -ms-transform: scale(0.8);
}

.header.main .header-cont .nav-group {
  float: right;
}

.header.main .header-cont .nav-group .nav-item {
  float: left;
  display: block;
  margin: 0 10px;
}

.header.main .header-cont .nav-group .nav-item.m-lr8 {
  margin: 0 8px;
}

.header.main .header-cont .nav-group .nav-item.m-r0 {
  margin-right: 0;
}

.header.main .header-cont .nav-group .nav-item a {
  color: #fff;
}

.header.main .header-search .logo {
  float: left;
  display: block;
  margin-top: 20px;
}

.header.main .header-search .logo > img {
  width: 240px;
  height: 75px;
  display: block;
}

.header.main .header-search .search {
  float: left;
  margin-left: 160px;
  margin-top: 32px;
}

.header.main .header-search .search .search-cont {
  height: 54px;
}

.header.main .header-search .search .search-cont input {
  float: left;
  display: block;
  padding: 16px 24px;
  width: 442px;
  height: 54px;
  line-height: 22px;
  font-size: 16px;
  border: 1px solid #f9aa32;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.header.main .header-search .search .search-cont .search-btn {
  float: left;
  display: block;
  margin-left: -1px;
  width: 76px;
  height: 54px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: url(../../img/home/sousuo.png) no-repeat center center;
  background-color: #f9aa32;
}

.header.main .header-search .search-hot {
  margin-top: 12px;
  margin-left: 6px;
}

.header.main .header-search .search-hot dt,
.header.main .header-search .search-hot dd {
  float: left;
  display: block;
  margin-right: 15px;
  color: #666;
  font-size: 14px;
}

.header.main .header-search .search-hot dd a {
  color: #999;
}

.header.main .header-search .cart-enter {
  float: right;
  margin-top: 33px;
  width: 192px;
  height: 54px;
  border: 1px solid #f9aa32;
  color: #f9aa32;
  border-radius: 4px;
  text-align: center;
  line-height: 52px;
  font-size: 16px;
  cursor: pointer;
}

.header.main .header-search .cart-enter:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 25px;
  background-image: url(../../img/home/home-icons.png);
  background-repeat: no-repeat;
  background-position: -116px -249px;
  margin-top: -2px;
  margin-right: 10px;
}

.header.main .header-search .cart-enter span {
  display: inline-block;
  vertical-align: middle;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: #f9aa32;
  color: #fff;
  margin-top: -3px;
  margin-left: 8px;
}

.header.sub {
  height: 100px;
  background-color: #fff;
  border-bottom: 2px solid #3bc03b;
}

.header.sub .logo {
  float: left;
  margin-top: 10px;
}

.header.sub .logo img {
  display: block;
  height: 75px;
}

.header.sub .nav-group {
  float: right;
  padding-top: 50px;
}

.header.sub .nav-group .nav-item {
  float: left;
}

.header.sub .nav-group .nav-item a,
.header.sub .nav-group .nav-item span {
  color: #3bc03b;
  font-size: 14px;
}

.header.sub .nav-group .nav-item span {
  padding: 0 25px;
}

.footer {
  position: relative;
}

.footer.main {
  padding-top: 72px;
  height: 420px;
  background-color: #4a4b49;
}

.footer.main:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 88px;
  width: 100%;
  height: 1px;
  background-color: #777;
}

.footer.main .help-list li {
  float: left;
  display: block;
  width: 140px;
  border-right: 1px solid #777;
  margin-right: 60px;
}

.footer.main .help-list li h2 {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
  margin-bottom: 22px;
}

.footer.main .help-list li a {
  display: block;
  line-height: 24px;
  color: #e3e3e3;
  font-size: 14px;
}

.footer.main .qr-code {
  float: right;
  margin-left: 40px;
}

.footer.main .qr-code img {
  display: block;
  margin: auto;
  width: 140px;
  height: 140px;
}

.footer.main .qr-code h3 {
  margin-top: 14px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #d4d5d6;
  text-align: center;
}

.footer.main .hot-line {
  float: left;
}

.footer.main .hot-line .hot-tel {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.footer.main .hot-line .hot-tel span {
  color: #3bc03b;
  display: block;
  font-size: 24px;
  margin-top: 24px;
}

.footer.main .hot-line .time {
  margin-top: 10px;
  color: #f5f5f5;
  font-size: 16px;
  line-height: 24px;
}

.footer.main .hot-line .contact-qq {
  display: block;
  margin-top: 15px;
  text-align: center;
  width: 190px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #3bc03b;
  font-size: 16px;
  color: #fff;
}

.footer.main .hot-line .contact-qq:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  height: 24px;
  width: 21px;
  background-image: url(../../img/home/home-icons.png);
  background-repeat: no-repeat;
  background-position: -136px -156px;
  margin-right: 10px;
}

.footer.main .friend-group {
  margin-top: 20px;
  text-align: center;
}

.footer.main .friend-group li {
  display: inline-block;
  margin: 0 22px;
}

.footer.main .copyright {
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  color: #F5F5F5;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 20px;
}

.footer.sub {
  margin: 66px 0 20px 0;
}

.footer.sub p,
.footer.sub a {
  color: #666;
  font-size: 14px;
  text-align: center;
}

.footer.sub .copyright {
  margin-top: 15px;
}

.footer .about-us {
  width: 100%;
  text-align: center;
  font-size: 14px;
  position: absolute;
  left: 0;
  bottom: 50px;
}

.footer .about-us > a {
  display: inline-block;
  vertical-align: middle;
  color: #e3e3e3;
  padding-left: 6px;
  padding-right: 6px;
  border-right: 1px solid #999;
  line-height: 1;
}

.footer .about-us > a:last-child {
  border-right: 0;
}

.footer .about-us > a:hover {
  color: #fff;
}

.footer .police-record {
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
  width: 20px;
  height: 20px;
  background: url(../../img/home/police.png) no-repeat center;
  background-size: contain;
}

.home-nav {
  height: 54px;
  background-color: #fff;
}

.home-nav * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.home-nav.drop-down .goods .title {
  cursor: pointer;
}

.home-nav.drop-down .goods .list-group {
  display: none;
  background-color: #2a673a;
}

.home-nav.drop-down .goods .list-group .list-item .list-cont {
  border-top: 1px solid #EEE;
  margin-top: -1px;
  box-shadow: 2px 2px 3px #ccc;
}

.home-nav.drop-down .goods:hover .list-group {
  display: block;
}

.home-nav .goods {
  position: relative;
  z-index: 10;
  float: left;
  display: block;
  width: 220px;
}

.home-nav .goods .title {
  display: block;
  width: 100%;
  height: 54px;
  line-height: 54px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  background-color: #3bc03b;
}

.home-nav .goods .list-group {
  position: absolute;
  display: block;
  padding: 38px 0;
  height: 232px;
  background-color: rgba(0, 0, 0, 0.3);
}

.home-nav .goods .list-group .list-item {
  display: block;
  position: relative;
  margin-bottom: 10px;
  width: 220px;
  line-height: 22px;
  color: #fff;
  font-size: 15px;
}

.home-nav .goods .list-group .list-item .desc {
  display: block;
  padding: 4px 108px 4px 48px;
  cursor: pointer;
}

.home-nav .goods .list-group .list-item.active, .home-nav .goods .list-group .list-item:hover {
  color: #3bc03b;
  background-color: white;
}

.home-nav .goods .list-group .list-item.active .list-cont, .home-nav .goods .list-group .list-item:hover .list-cont {
  width: 350px;
}

.home-nav .goods .list-group .list-item:after {
  content: "";
  position: absolute;
  left: 163px;
  top: 50%;
  margin-top: -6px;
  width: 7px;
  height: 11px;
  background-image: url(../../img/home/home-icons.png);
  background-repeat: no-repeat;
  background-position: -97px -251px;
}

.home-nav .goods .list-group .list-item.active:after, .home-nav .goods .list-group .list-item:hover:after {
  background-position: -107px -251px;
}

.home-nav .goods .list-group .list-item .list-cont {
  position: absolute;
  top: 0;
  left: 100%;
  width: 0px;
  min-height: 150px;
  overflow: hidden;
  background-color: white;
}

.home-nav .goods .list-group .list-item .list-cont-box {
  display: block;
  padding: 24px;
  width: 350px;
  background-color: white;
  box-sizing: border-box;
}

.home-nav .goods .list-group .list-item .list-cont-box ul {
  overflow: hidden;
}

.home-nav .goods .list-group .list-item .list-cont-box ul li {
  float: left;
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  padding: 0 10px;
  position: relative;
}

.home-nav .goods .list-group .list-item .list-cont-box ul li:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 1px;
  height: 1em;
  background-color: #ccc;
  margin-top: -0.5em;
}

.home-nav .goods .list-group .list-item .list-cont-box ul li:last-child:after {
  display: none;
}

.home-nav .goods .list-group .list-item .list-cont-box ul li a {
  color: #666;
}

.home-nav .goods .list-group .list-item .list-cont-box ul li a:hover {
  color: #3bc03b;
}

.home-nav .nav-group {
  float: right;
  line-height: 54px;
  width: 980px;
}

.home-nav .nav-group a {
  float: left;
  display: block;
  position: relative;
  margin: 0 39px;
  color: #333;
  font-size: 16px;
}

.home-nav .nav-group a:last-child {
  margin-right: 0px;
}

.home-nav .nav-group a.active, .home-nav .nav-group a:hover {
  color: #3bc03b;
}

.home-nav .nav-group a.active:after, .home-nav .nav-group a:hover:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #3bc03b;
}

.home-nav .nav-group a i {
  position: absolute;
  right: -10px;
  top: 0;
  width: 30px;
  height: 30px;
  background: url(../../img/new.png) no-repeat top left;
  background-size: 100%;
}

.merchant-app .banner-area {
  height: 400px;
  background-color: #32ad61;
  color: #fff;
}

.merchant-app .banner-area .container {
  height: 100%;
  overflow: hidden;
  padding-left: 58px;
  background: url(../../img/wx-app/banner-icon.png) no-repeat right bottom;
}

.merchant-app .banner-area .slogan {
  font-size: 42px;
  line-height: 60px;
  margin-top: 56px;
}

.merchant-app .banner-area .summary {
  font-size: 28px;
  line-height: 44px;
}

.merchant-app .banner-area .announcement {
  font-size: 28px;
  margin-top: 26px;
  line-height: 50px;
}

.merchant-app .banner-area .announcement strong {
  font-size: 38px;
  padding-left: 10px;
  padding-right: 10px;
}

.merchant-app .banner-area .announcement .amount {
  font-size: 38px;
  color: #fe9e22;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

.merchant-app .banner-area .active-time {
  font-size: 20px;
  line-height: 30px;
  margin-top: 6px;
}

.merchant-app .banner-area .btn-attempt {
  display: block;
  text-align: center;
  line-height: 48px;
  font-size: 22px;
  height: 52px;
  width: 152px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  margin-top: 26px;
}

.merchant-app .banner-area .btn-attempt:hover {
  background-color: #fff;
  color: #32ad61;
}

.merchant-app .section1, .merchant-app .section2, .merchant-app .section3, .merchant-app .section4 {
  border: 1px solid #eee;
  background-color: #fff;
  padding-top: 12px;
  margin-top: 30px;
  padding: 72px 122px 15px;
}

.merchant-app .section4 {
  margin-bottom: 50px;
}

.merchant-app .sec-hd {
  font-size: 34px;
  color: #333;
  line-height: 50px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 70px;
}

.merchant-app .advantage-list {
  overflow: hidden;
}

.merchant-app .advantage-list > li {
  float: left;
  width: 414px;
  margin-right: 126px;
  margin-bottom: 80px;
}

.merchant-app .advantage-list > li > dl {
  overflow: hidden;
}

.merchant-app .advantage-list > li dt {
  float: left;
  width: 126px;
  height: 126px;
  border-radius: 10px;
  background-image: url(../../img/wx-app/icons.png) !important;
  background-repeat: no-repeat;
}

.merchant-app .advantage-list > li dd {
  float: left;
  overflow: hidden;
  margin-left: 30px;
  padding-top: 10px;
  width: 258px;
  color: #333;
}

.merchant-app .advantage-list > li dd > span {
  font-size: 20px;
  line-height: 1.5;
}

.merchant-app .advantage-list > li dd .desc {
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
}

.merchant-app .advantage-list > li:nth-child(even) {
  margin-right: 0;
}

.merchant-app .advantage-list > li:nth-child(1) > dl > dt {
  background-color: #f9aa32;
  background-position: 0 0;
}

.merchant-app .advantage-list > li:nth-child(2) > dl > dt {
  background-color: #3bc03b;
  background-position: -126px 0;
}

.merchant-app .advantage-list > li:nth-child(3) > dl > dt {
  background-color: #44c1f0;
  background-position: 0 -126px;
}

.merchant-app .advantage-list > li:nth-child(4) > dl > dt {
  background-color: #ff6159;
  background-position: -126px -126px;
}

.merchant-app .flex-between {
  margin-bottom: 50px;
}

.merchant-app .flex-between dl {
  width: 362px;
  height: 462px;
  border: 1px solid #a4e2a4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
}

.merchant-app .flex-between dt {
  width: 100%;
  height: 180px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  padding-top: 120px;
  color: #fff;
}

.merchant-app .flex-between dl:first-of-type > dt {
  background: url(../../img/wx-app/top-bg1.png) no-repeat center top;
  background-size: 100%;
}

.merchant-app .flex-between dl:last-of-type > dt {
  background: url(../../img/wx-app/top-bg2.png) no-repeat center top;
  background-size: 100%;
}

.merchant-app .flex-between dd {
  padding: 25px 30px;
  text-align: center;
  background-color: #fff;
}

.merchant-app .flex-between dd .desc {
  font-size: 20px;
  color: #333;
  line-height: 1.5;
}

.merchant-app .flex-between dd .price {
  font-size: 20px;
  color: #e52217;
  line-height: 40px;
  margin-top: 20px;
}

.merchant-app .flex-between dd .price span {
  font-size: 30px;
  font-weight: bold;
}

.merchant-app .flex-between dd .btn-go {
  display: block;
  cursor: pointer;
  text-align: center;
  line-height: 48px;
  font-size: 22px;
  height: 52px;
  width: 152px;
  color: #3bc03b;
  border: 2px solid #3bc03b;
  border-radius: 4px;
  margin: 36px auto 0;
}

.merchant-app .flex-between dd .btn-go:hover {
  background-color: #3bc03b;
  color: #fff;
}

.merchant-app .point-list {
  overflow: hidden;
  margin-bottom: 50px;
}

.merchant-app .point-list > li {
  float: left;
  margin-right: 30px;
  width: 216px;
  height: 180px;
  padding: 40px 30px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.merchant-app .point-list > li:nth-of-type(4n+0) {
  margin-right: 0;
}

.merchant-app .point-list > li .ico {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto 24px;
  background-image: url(../../img/wx-app/icons.png);
  background-repeat: no-repeat;
}

.merchant-app .point-list > li .ico-point1 {
  background-position: 0 -253px;
}

.merchant-app .point-list > li .ico-point2 {
  background-position: -61px -253px;
}

.merchant-app .point-list > li .ico-point3 {
  background-position: -122px -253px;
}

.merchant-app .point-list > li .ico-point4 {
  background-position: -183px -253px;
}

.merchant-app .point-list > li .title {
  font-size: 24px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 10px;
}

.merchant-app .point-list > li .desc {
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.merchant-app .way-list {
  overflow: hidden;
}

.merchant-app .way-list > li {
  float: left;
  text-align: center;
  width: 16.6666%;
  height: 160px;
  margin-bottom: 60px;
}

.merchant-app .way-list > li .ico {
  display: block;
  width: 115px;
  height: 115px;
  margin: 0 auto 10px;
  background-image: url(../../img/wx-app/icons.png);
  background-repeat: no-repeat;
}

.merchant-app .way-list > li .desc {
  font-size: 16px;
  color: #333;
  line-height: 30px;
}

.merchant-app .way-list .ico-way1 {
  background-position: -253px 0;
}

.merchant-app .way-list .ico-way2 {
  background-position: -369px 0;
}

.merchant-app .way-list .ico-way3 {
  background-position: -485px 0;
}

.merchant-app .way-list .ico-way4 {
  background-position: -601px 0;
}

.merchant-app .way-list .ico-way5 {
  background-position: -717px 0;
}

.merchant-app .way-list .ico-way6 {
  background-position: -833px 0;
}

.merchant-app .way-list .ico-way7 {
  background-position: -253px -116px;
}

.merchant-app .way-list .ico-way8 {
  background-position: -369px -116px;
}

.merchant-app .way-list .ico-way9 {
  background-position: -485px -116px;
}

.merchant-app .way-list .ico-way10 {
  background-position: -601px -116px;
}

.merchant-app .way-list .ico-way11 {
  background-position: -717px -116px;
}

.merchant-app .way-list .ico-way12 {
  background-position: -833px -116px;
}

.dialog-apply {
  display: none;
}

.dialog-apply .dialog-cont {
  display: block;
  width: 600px;
  height: 400px;
  padding: 50px 130px 30px;
  margin-left: -300px;
  margin-top: -220px;
}

.dialog-apply .dialog-cont h3 {
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  font-weight: normal;
  margin-bottom: 36px;
}

.dialog-apply .dialog-cont dl {
  margin-bottom: 24px;
  margin-left: -20px;
}

.dialog-apply .dialog-cont dl dt {
  width: 108px;
  height: 40px;
  padding-right: 4px;
  font-size: 14px;
  color: #333;
  line-height: 40px;
  float: left;
  text-align: right;
  white-space: nowrap;
}

.dialog-apply .dialog-cont dl dt i {
  color: #e52217;
}

.dialog-apply .dialog-cont dl dd {
  position: relative;
  float: left;
  width: 240px;
}

.dialog-apply .dialog-cont dl dd input {
  height: 40px;
  width: 100%;
  font-size: 14px;
  color: #333;
  border: 1px solid #eee;
  padding: 7px 10px;
  line-height: 24px;
}

.dialog-apply .dialog-cont dl dd .btn-green {
  width: 166px;
  margin-top: 10px;
}

.dialog-apply .dialog-cont dl:after {
  content: "";
  display: block;
  clear: both;
}

.dialog-confirm .icon-succ {
  width: 32px;
  height: 32px;
  margin-left: -60px;
  margin-right: 20px;
  background-size: 100% !important;
}
